{% extends 'layouts/application.html' %}

{% block content %}
  <a href="{{ url_for('home.index') }}"> Voltar</a>
  <dl>
    <dt>{{ post.title }}</dt>
    <dd>{{ post.content }}</dd>
    <dd>{{ 'Publicado' if post.published else 'Rascunho' }}</dd>
    <dd>{{ post.author.name }}</dd>
  </dl>

  <form id="form" method="delete">
    <button>Excluir</button>
  </form>
{% endblock %}

{% block javascript %}
  <script>
    const form = document.getElementById('form');
    form.onsubmit = async function (event) {
      event.preventDefault();
      await fetch("{{ url_for('posts.delete', id=post.id) }}", {method: 'delete'})
      window.location.href = "{{ url_for('home.index') }}"
    };
  </script>
{% endblock %}