<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog do Wesley</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{{ url_for('posts.new') }}">Criar novo post</a>
        </li>
      </ul>
    </nav>
  </header>
  {% block content %} {% endblock %}
  {% block javascript %} {% endblock %}
</body>
</html>